<div class="row">
                
    <div class="col-sm-12 col-md-5">

        <h4 class="card-title">Total de productos ({{ totalRegistros }})</h4>
        <h6 class="card-subtitle">Productos registrados</h6>

    </div>

    <div class="col-sm-12 col-md-7">
        <input type="text" class="form-control" placeholder="Buscar producto.." #txtTermino>
    </div>
  
</div>

<div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>                    
                    <th>
                        Nombre
                    </th>
                    <th>
                        Código
                    </th>
                    <th>
                        Unidad de Medida
                    </th>
                    <th>
                        Valor Interno
                    </th>
                    <th>
                        Valor al Publico
                    </th>
                    <th>
                        Valor Mayorista
                    </th>
                    <th>
                        Estado
                    </th>
                    <th class="text-nowrap w100">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos">           
                    <td>
                        {{producto.Nombre}}
                    </td>   
                    <td>
                        {{producto.Codigo}}
                    </td>
                    <td>
                        {{producto.UnidadMedida}}
                    </td>
                    <td>
                        {{producto.ValorInterno}}
                    </td>
                    <td>
                        {{producto.ValorPublico}}
                    </td>
                    <td>
                        {{producto.ValorMayorista}}
                    </td>
                    <td>
                        <div *ngIf="producto.Estado" class="label label-table label-success">Activo</div>
                        <div *ngIf="!producto.Estado" class="label label-table label-danger">Inactivo</div>
                    </td>
                    <td class="text-nowrap text-center"> 
                        <a [routerLink]="['producto', producto._id ]" data-toggle="tooltip" data-original-title="Editar"> 
                            <i class="fa fa-edit text-inverse m-r-10"></i>
                        </a>
                        <a (click)="cambiarEstadoProducto(producto)" data-original-title="Cambiar estado" data-toggle="tooltip" data-original-title="Cambiar estado" class="cursor"> 
                            <i class="fa fa-power-off text-danger"></i> 
                        </a>
                    </td>                           
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        
        <div class="col-sm-6 col-md-6">

            <div class="dataTables_info text-aling-right" id="example_info" role="status" aria-live="polite">
                Mostrando del {{ mostrandoDesde }} al {{ mostrandoHasta }} de {{ totalRegistros }} Registros
            </div>

        </div>

        <div class="col-sm-6 col-md-6">

            <a routerLink="producto/Nuevo" class="pull-right btn btn-circle btn-success">
                <i class="ti-plus"></i>
            </a>

        </div>

    </div>
</div>
